{% extends "layout.html" %}
{% block title %}
    Dashboard
{% endblock %}
{% block container %}
    <ul class="nav justify-content-between m-3">
        <li class="nav-item">
            <p>You are logged in as {{ current_user.username }}</p>
        </li>
        <li class="nav-item">
            <a class="btn btn-dark" href="{{ url_for('logout') }}">Log out</a>
        </li>
    </ul>
    <h3 class="text-center">Your to-dos</h3>
    <form class="input-group mt-3" action="" method="post">
        {{ form.hidden_tag() }}
        {{ form.task }}
        {{ form.submit }}
    </form>
    <ul class="list-group">
        {% for task in tasks %}
            <li style="user-select: none" class="list-group-item">
                <input data-taskid="{{ task.id }}" class="form-check-input me-2"
                       type="checkbox" value=""
                       id="checkbox-{{ task.id }}" {% if task.done %}checked{% endif %}>
                <label contenteditable="false" class="form-check-label">{{ task.title }}</label>
                <div class="d-flex justify-content-end">
                    <button onclick="location.href='{{ url_for('edit', taskid=task.id) }}'" type="button"
                            class="btn btn-light me-3">
                        <i class="text-dark fa fa-pencil"></i>
                    </button>
                    <button type="button" class="delete-btn btn btn-light me-3">
                        <i class="text-danger fa fa-trash"></i>
                    </button>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block js %}
    <script>
        document.querySelectorAll(".list-group-item").forEach(taskRow => {
            const checkbox = taskRow.querySelector(".form-check-input");
            const deleteButton = taskRow.querySelector(".delete-btn");
            const taskId = checkbox.dataset.taskid

            checkbox.addEventListener("click", () => {
                $.ajax({
                    url: `/toggle`,
                    type: "POST",
                    data: {
                        taskid: taskId,
                        done: checkbox.checked
                    },
                });
            })

            deleteButton.addEventListener("click", () => {
                $.ajax({
                    url: `/delete`,
                    type: "POST",
                    data: {
                        taskid: taskId
                    }
                }).done(() => {
                    taskRow.remove()
                });
            });

        });
    </script>
{% endblock %}